<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
All news
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<br>
<h2> Все новости и статьи </h2>
<p> количество публикаций: {{ news|length }} </p>
    {% if perms.news.add_post %}
    <a href="{% url 'news_create' %}">Добавить новость |</a>
    <a href="{% url 'article_create' %}">Добавить статью</a>
    {% endif %}
<br>
<br>
    {% if news %}
        <table width="100%" cellpadding="8px">
            <tr>
                <td> <strong> Заголовок </strong> </td>
                <td> <strong> Дата публикации </strong> </td>
                <td> <strong> Содержание </strong> </td>
                {% if perms.news.change_post or perms.news.delete_post %}
                <td> <strong> Действия </strong> </td>
                {% endif %}
                <td> <strong> Категория </strong> </td>

            </tr>
            {% for post in news %}
            <tr>
                <td> {{ post.heading|censor }}</td>
                <td> {{ post.add_time|date:'d M Y' }} </td>
                <td> {{ post.text|censor|truncatechars:21 }} </td>
                <td>
                    {% if perms.news.change_post %}
                        {% if post.type == "NW" %}
                            <a href="{% url 'news_edit' pk=post.id %}">Изменить</a><br/>
                        {% endif %}

                        {% if post.type == "AR" %}
                            <a href="{% url 'article_edit' pk=post.id %}">Изменить</a><br/>
                        {% endif %}
                    {% endif %}

                    {% if perms.news.delete_post %}
                        {% if post.type == "NW" %}
                            <a href="{% url 'news_delete' pk=post.id %}">Удалить</a>
                        {% endif %}

                        {% if post.type == "AR" %}
                            <a href="{% url 'article_delete' pk=post.id %}">Удалить</a>
                        {% endif %}
                    {% endif %}
                </td>
                {% for cat in post.category.all %}
                    <td> {{cat.category_name }} </td>
                {% endfor %}

            </tr>
            {% endfor %}
        </table>
    {% else %}
       <!-- Если новостей нет, говорим, что их нет ;) -->
        <h2>Новостей нет!</h2>
    {% endif %}
    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}